<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M57GSXW12Q"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-M57GSXW12Q');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>DL8 Studios</title>
</head>
<body>
    <nav>
        <div class="container">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="games.html">Games</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--<div class="announcements">
        <h1 style="text-align: center;">
            Breaking News
        </h1>
        <h3>
            Wizard Game Now Saves Progress
        </h3>
    </div>-->
    <div class="announcements">
        <h1 style="text-align: center;">
            Drifty Car

        </h1>
        
        <h3>
            
        </h3>
        <p>
        </div>

    <div id="video-container1" style="height: 1000px; top: 750px; left: 27%;">
        <video autoplay loop muted>
            <source src="/Assets/PromoVideo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div id="video-container2" style="height: 1000px; top: 750px; left:71.5%;">
        <video autoplay loop muted>
            <source src="/Assets/PromoVideo2.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

</body>
</html>
